

#acf-group_65824580e7a05{
    background: #2271b1;
    color: #fff;
}
#acf-group_65824580e7a05 .postbox-header h2{
    color: #fff;
    font-size: 16px;
}
#acf-group_65824580e7a05 span,
#acf-group_65824580e7a05 a{
    color: #fff;
}
#acf-group_65824580e7a05 input{
    border: 0;
    box-shadow: 0 3px 6px rgba(0,0,0,.3);
}











